<form name="form.gridEditor" ng-submit="submit(form.data[formLabel.column[0].id])" novalidate ng-controller="masterItem">
    <tabset>
        <tab active="tab.active" disabled="tab.disabled">
<!--
            <tab-heading>
                {{formLabel.title}}
            </tab-heading>
-->

            <div class="panel clean">
                <div>
                    <input type="hidden" name="{{formLabel.column[0].id}}" ng-model="form.data[formLabel.column[0].id]">
                    
                    <div class="row rows">

                        <div class="medium-6">
                           
                            <div class="well">    
                    
                                <div class="form-group" ng-class="{'has-error': form.gridEditor.formData1.$invalid && form.gridEditor.formData1.$dirty}">
                                    <div class="label-content"><label for="input{{formLabel.column[1].id}}">{{formLabel.column[1].name}} <sup class="required" ng-if="formLabel.column[1].mandatory">*</sup></label></div>
                                    <div class="input-content"><input type="text" name="formData1" id="input{{formLabel.column[1].id}}" class="form-control" placeholder="{{formLabel.column[1].name}}" ng-model="form.data[formLabel.column[1].id]" ng-required="formLabel.column[1].mandatory" ng-minlength="{{formLabel.column[1].minLength}}" ng-maxlength="{{formLabel.column[1].maxLength}}" ng-readonly="formLabel.column[1].readonly"></div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': form.gridEditor.formData2.$invalid && form.gridEditor.formData2.$dirty}">
                                    <div class="label-content"><label for="input{{formLabel.column[2].id}}">{{formLabel.column[2].name}} <sup class="required" ng-if="formLabel.column[2].mandatory">*</sup></label></div>
                                    <div class="input-content"><input type="text" name="formData2" id="input{{formLabel.column[2].id}}" class="form-control" placeholder="{{formLabel.column[2].name}}" ng-model="form.data[formLabel.column[2].id]" ng-required="formLabel.column[2].mandatory" ng-minlength="{{formLabel.column[2].minLength}}" ng-maxlength="{{formLabel.column[2].maxLength}}"></div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': form.gridEditor.formData3.$invalid && form.gridEditor.formData3.$dirty}">
                                    <div class="label-content"><label for="input{{formLabel.column[3].id}}">{{formLabel.column[3].name}} <sup class="required" ng-if="formLabel.column[3].mandatory">*</sup></label></div>
                                    <div class="input-content"><textarea name="formData3" id="input{{formLabel.column[3].id}}" class="form-control" placeholder="{{formLabel.column[3].name}}" ng-model="form.data[formLabel.column[3].id]" ng-required="formLabel.column[3].mandatory" ng-minlength="{{formLabel.column[3].minLength}}" ng-maxlength="{{formLabel.column[3].maxLength}}" style="height: 90px;"></textarea></div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': form.gridEditor.formData4.$invalid && form.gridEditor.formData4.$dirty}">
                                    <div class="label-content"><label for="input{{formLabel.column[4].id}}">{{formLabel.column[4].name}} <sup class="required" ng-if="formLabel.column[4].mandatory">*</sup></label></div>
                                    <div class="input-content"><input type="text" name="formData4" id="input{{formLabel.column[4].id}}" class="form-control" placeholder="{{formLabel.column[4].name}}" ng-model="form.data[formLabel.column[4].id]" ng-required="formLabel.column[4].mandatory" ng-minlength="{{formLabel.column[4].minLength}}" ng-maxlength="{{formLabel.column[4].maxLength}}"></div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': form.gridEditor.formData18.$invalid && form.gridEditor.formData18.$dirty}">
                                    <div class="label-content"><label for="input{{formLabel.column[18].id}}">{{formLabel.column[18].name}} <sup class="required" ng-if="formLabel.column[18].mandatory">*</sup></label></div>
                                    <div class="input-content">
                                        <div class="btn-group block">
                                            <label class="btn btn-default" name="formData18" ng-model="form.data.mitmNonActiveFlag" btn-radio="'0'" ng-required="formLabel.column[18].mandatory"><i class="glyphicon glyphicon-ok"></i></label>
                                            <label class="btn btn-default btn-no" name="formData18" ng-model="form.data.mitmNonActiveFlag" btn-radio="'1'" ng-required="formLabel.column[18].mandatory"><i class="glyphicon glyphicon-remove"></i></label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                
                                <div class="clearfix"></div>
                                
                            </div>
                        </div>
                        
                        <div class="medium-6">
                           
                            <div class="well">   

                                <div class="form-group" ng-class="{'has-error': form.gridEditor.formData5.$invalid && form.gridEditor.formData5.$dirty}">
                                    <div class="label-content"><label for="input{{formLabel.column[5].id}}">{{formLabel.column[5].name}} <sup class="required" ng-if="formLabel.column[5].mandatory">*</sup></label></div>
                                    <div class="input-content">
                                        <div class="input-group">
                                            <input type="text" name="formData5" id="input{{formLabel.column[5].id}}" class="form-control" placeholder="{{formLabel.column[5].name}}" ng-model="form.data[formLabel.column[5].id]" ng-required="formLabel.column[5].mandatory" ng-minlength="{{formLabel.column[5].minLength}}" ng-maxlength="{{formLabel.column[5].maxLength}}" typeahead="n.mbrnId as n.mbrnDescription for n in data | filter:$viewValue:stateComparator | orderBy: n.mbrnDescription" typeahead-editable="false" typeahead-input-formatter="formatLabel($model)" autocomplete="off" empty-typeahead ng-focus="onFocus($event)" ng-blur="onBlur()">
                                            <div class="input-group-addon finder" ng-controller="modalCtrl"><span ng-click="open(data, 'typeahead_item_brand', 'ModalDefaultCtrl')" ng-hide="formLabel.column[5].readonly == '1'"><i class="glyphicon glyphicon-search"></i></span></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': form.gridEditor.formData6.$invalid && form.gridEditor.formData6.$dirty}">
                                    <div class="label-content"><label for="input{{formLabel.column[6].id}}">{{formLabel.column[6].name}} <sup class="required" ng-if="formLabel.column[6].mandatory">*</sup></label></div>
                                    <div class="input-content">
                                        <div class="input-group">
                                            <input type="text" name="formData6" id="input{{formLabel.column[6].id}}" class="form-control" placeholder="{{formLabel.column[6].name}}" ng-model="form.data[formLabel.column[6].id]" ng-required="formLabel.column[6].mandatory" ng-minlength="{{formLabel.column[6].minLength}}" ng-maxlength="{{formLabel.column[6].maxLength}}" typeahead="n.micaId as n.Category for n in data2 | filter:$viewValue:stateComparator | orderBy: n.Category" typeahead-editable="false" typeahead-input-formatter="formatLabel2($model)" typeahead-on-select="onSelect2($item, $model, $label)" autocomplete="off" empty-typeahead ng-focus="onFocus($event)" ng-blur="onBlur()">
                                            <div class="input-group-addon finder" ng-controller="modalCtrl"><span ng-click="open(data2, 'typeahead_item_category', 'ModalDefaultCtrl')" ng-hide="formLabel.column[6].readonly == '1'"><i class="glyphicon glyphicon-search"></i></span></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': form.gridEditor.formData7.$invalid && form.gridEditor.formData7.$dirty}">
                                    <div class="label-content"><label for="input{{formLabel.column[7].id}}">{{formLabel.column[7].name}} <sup class="required" ng-if="formLabel.column[7].mandatory">*</sup></label></div>
                                    <div class="input-content">
                                        <div class="input-group">
                                            <input type="text" name="formData7" id="input{{formLabel.column[7].id}}" class="form-control" placeholder="{{formLabel.column[7].name}}" ng-model="form.data[formLabel.column[7].id]" ng-required="formLabel.column[7].mandatory" ng-minlength="{{formLabel.column[7].minLength}}" ng-maxlength="{{formLabel.column[7].maxLength}}" typeahead="n.miscaId as n.SubCategory for n in data6 | filter:$viewValue:stateComparator | orderBy: n.SubCategory" typeahead-editable="false" typeahead-input-formatter="formatLabel6($model)" autocomplete="off" empty-typeahead ng-focus="onFocus($event)" ng-blur="onBlur()">
                                            <div class="input-group-addon finder" ng-controller="modalCtrl"><span ng-click="open(data6, 'typeahead_item_subcategory', 'ModalDefaultCtrl')" ng-hide="formLabel.column[7].readonly == '1'"><i class="glyphicon glyphicon-search"></i></span></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': form.gridEditor.formData8.$invalid && form.gridEditor.formData8.$dirty}">
                                    <div class="label-content"><label for="input{{formLabel.column[8].id}}">{{formLabel.column[8].name}} <sup class="required" ng-if="formLabel.column[8].mandatory">*</sup></label></div>
                                    <div class="input-content">
                                        <div class="input-group">
                                            <input type="text" name="formData8" id="input{{formLabel.column[8].id}}" class="form-control" placeholder="{{formLabel.column[8].name}}" ng-model="form.data[formLabel.column[8].id]" ng-required="formLabel.column[8].mandatory" ng-minlength="{{formLabel.column[8].minLength}}" ng-maxlength="{{formLabel.column[8].maxLength}}" typeahead="n.msizId as n.msizDescription for n in data3 | filter:$viewValue:stateComparator | orderBy: n.msizDescription" typeahead-editable="false" typeahead-input-formatter="formatLabel3($model)" autocomplete="off" empty-typeahead ng-focus="onFocus($event)" ng-blur="onBlur()">
                                            <div class="input-group-addon finder" ng-controller="modalCtrl"><span ng-click="open(data3, 'typeahead_item_size', 'ModalDefaultCtrl')" ng-hide="formLabel.column[8].readonly == '1'"><i class="glyphicon glyphicon-search"></i></span></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': form.gridEditor.formData9.$invalid && form.gridEditor.formData9.$dirty}">
                                    <div class="label-content"><label for="input{{formLabel.column[9].id}}">{{formLabel.column[9].name}} <sup class="required" ng-if="formLabel.column[9].mandatory">*</sup></label></div>
                                    <div class="input-content"><input type="number" name="formData9" id="input{{formLabel.column[9].id}}" class="form-control" placeholder="{{formLabel.column[9].name}}" ng-model="form.data[formLabel.column[9].id]" ng-required="formLabel.column[9].mandatory" ng-minlength="{{formLabel.column[9].minLength}}" ng-maxlength="{{formLabel.column[9].maxLength}}" min="{{formLabel.column[9].minVal}}" max="{{formLabel.column[9].maxVal}}" only-digits numeric></div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': form.gridEditor.formData10.$invalid && form.gridEditor.formData10.$dirty}">
                                    <div class="label-content"><label for="input{{formLabel.column[10].id}}">{{formLabel.column[10].name}} <sup class="required" ng-if="formLabel.column[10].mandatory">*</sup></label></div>
                                    <div class="input-content">
                                        <div class="input-group">
                                            <input type="text" name="formData10" id="input{{formLabel.column[10].id}}" class="form-control" placeholder="{{formLabel.column[10].name}}" ng-model="form.data[formLabel.column[10].id]" ng-required="formLabel.column[10].mandatory" ng-minlength="{{formLabel.column[10].minLength}}" ng-maxlength="{{formLabel.column[10].maxLength}}" typeahead="n.mstoId as n.mstoDescription for n in data4 | filter:$viewValue:stateComparator | orderBy: n.mstoDescription" typeahead-editable="false" typeahead-input-formatter="formatLabel4($model)" autocomplete="off" empty-typeahead ng-focus="onFocus($event)" ng-blur="onBlur()">
                                            <div class="input-group-addon finder" ng-controller="modalCtrl"><span ng-click="open(data4, 'typeahead_item_store', 'ModalDefaultCtrl')" ng-hide="formLabel.column[10].readonly == '1'"><i class="glyphicon glyphicon-search"></i></span></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': form.gridEditor.formData11.$invalid && form.gridEditor.formData11.$dirty}">
                                    <div class="label-content"><label for="input{{formLabel.column[11].id}}">{{formLabel.column[11].name}} <sup class="required" ng-if="formLabel.column[11].mandatory">*</sup></label></div>
                                    <div class="input-content">
                                        <div class="input-group">
                                            <input type="text" name="formData11" id="input{{formLabel.column[11].id}}" class="form-control" placeholder="{{formLabel.column[11].name}}" ng-model="form.data[formLabel.column[11].id]" ng-required="formLabel.column[11].mandatory" ng-minlength="{{formLabel.column[11].minLength}}" ng-maxlength="{{formLabel.column[11].maxLength}}" typeahead="n.mlocId as n.mlocDescription for n in data5 | filter:$viewValue:stateComparator | orderBy: n.mlocDescription" typeahead-editable="false" typeahead-input-formatter="formatLabel5($model)" autocomplete="off" empty-typeahead ng-focus="onFocus($event)" ng-blur="onBlur()">
                                            <div class="input-group-addon finder" ng-controller="modalCtrl"><span ng-click="open(data5, 'typeahead_item_location', 'ModalDefaultCtrl')" ng-hide="formLabel.column[11].readonly == '1'"><i class="glyphicon glyphicon-search"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clearfix"></div>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">

                        <div class="col-sm-12">
                           
                            <div class="well">  
                                <div class="row">

                                    <div class="col-sm-6">

                                        <div class="form-group" ng-class="{'has-error': form.gridEditor.formData14.$invalid && form.gridEditor.formData14.$dirty}">
                                            <div class="label-content"><label for="input{{formLabel.column[14].id}}">{{formLabel.column[14].name}} <sup class="required" ng-if="formLabel.column[14].mandatory">*</sup></label></div>
                                            <div class="input-content"><input type="number" name="formData14" id="input{{formLabel.column[14].id}}" class="form-control" placeholder="{{formLabel.column[14].name}}" ng-model="form.data[formLabel.column[14].id]" ng-required="formLabel.column[14].mandatory" ng-minlength="{{formLabel.column[14].minLength}}" ng-maxlength="{{formLabel.column[14].maxLength}}" min="{{formLabel.column[14].minVal}}" max="{{formLabel.column[14].maxVal}}" only-digits numeric></div>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="col-sm-6">

                                        <div class="form-group" ng-class="{'has-error': form.gridEditor.formData15.$invalid && form.gridEditor.formData15.$dirty}">
                                            <div class="label-content"><label for="input{{formLabel.column[15].id}}">{{formLabel.column[15].name}} <sup class="required" ng-if="formLabel.column[15].mandatory">*</sup></label></div>
                                            <div class="input-content"><input type="number" name="formData15" id="input{{formLabel.column[15].id}}" class="form-control" placeholder="{{formLabel.column[15].name}}" ng-model="form.data[formLabel.column[15].id]" ng-required="formLabel.column[15].mandatory" ng-minlength="{{formLabel.column[15].minLength}}" ng-maxlength="{{formLabel.column[15].maxLength}}" min="{{formLabel.column[15].minVal}}" max="{{formLabel.column[15].maxVal}}" only-digits numeric></div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="row">

                        <div class="col-sm-12">
                           
                            <div class="well">  
                                <div class="row">

                                    <div class="col-sm-6">

                                        <div class="form-group" ng-class="{'has-error': form.gridEditor.formData12.$invalid && form.gridEditor.formData12.$dirty}">
                                            <div class="label-content"><label for="input{{formLabel.column[12].id}}">{{formLabel.column[12].name}} <sup class="required" ng-if="formLabel.column[12].mandatory">*</sup></label></div>
                                            <div class="input-content"><input type="number" name="formData12" id="input{{formLabel.column[12].id}}" class="form-control" placeholder="{{formLabel.column[12].name}}" ng-model="form.data[formLabel.column[12].id]" ng-required="formLabel.column[12].mandatory" ng-minlength="{{formLabel.column[12].minLength}}" ng-maxlength="{{formLabel.column[12].maxLength}}" min="{{formLabel.column[12].minVal}}" max="{{formLabel.column[12].maxVal}}" only-digits numeric></div>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="col-sm-6">

                                        <div class="form-group" ng-class="{'has-error': form.gridEditor.formData13.$invalid && form.gridEditor.formData13.$dirty}">
                                            <div class="label-content"><label for="input{{formLabel.column[13].id}}">{{formLabel.column[13].name}} <sup class="required" ng-if="formLabel.column[13].mandatory">*</sup></label></div>
                                            <div class="input-content"><input type="number" name="formData13" id="input{{formLabel.column[13].id}}" class="form-control" placeholder="{{formLabel.column[13].name}}" ng-model="form.data[formLabel.column[13].id]" ng-required="formLabel.column[13].mandatory" ng-minlength="{{formLabel.column[13].minLength}}" ng-maxlength="{{formLabel.column[13].maxLength}}" min="{{formLabel.column[13].minVal}}" max="{{formLabel.column[13].maxVal}}" only-digits numeric></div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="row">

                        <div class="col-sm-12">
                           
                            <div class="well">  
                                <div class="row">

                                    <div class="col-sm-6">

                                        <div class="form-group" ng-class="{'has-error': form.gridEditor.formData16.$invalid && form.gridEditor.formData16.$dirty}">
                                            <div class="label-content"><label for="input{{formLabel.column[16].id}}">{{formLabel.column[16].name}} <sup class="required" ng-if="formLabel.column[16].mandatory">*</sup></label></div>
                                            <div class="input-content"><input type="number" name="formData16" id="input{{formLabel.column[16].id}}" class="form-control" placeholder="{{formLabel.column[16].name}}" ng-model="form.data[formLabel.column[16].id]" ng-required="formLabel.column[16].mandatory" ng-minlength="{{formLabel.column[16].minLength}}" ng-maxlength="{{formLabel.column[16].maxLength}}" ng-readonly="formLabel.column[16].readonly == '1'" min="{{formLabel.column[16].minVal}}" max="{{formLabel.column[16].maxVal}}" only-digits numeric></div>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="col-sm-6">

                                        <div class="form-group" ng-class="{'has-error': form.gridEditor.formData17.$invalid && form.gridEditor.formData17.$dirty}">
                                            <div class="label-content"><label for="input{{formLabel.column[17].id}}">{{formLabel.column[17].name}} <sup class="required" ng-if="formLabel.column[17].mandatory">*</sup></label></div>
                                            <div class="input-content"><input type="number" name="formData17" id="input{{formLabel.column[17].id}}" class="form-control" placeholder="{{formLabel.column[17].name}}" ng-model="form.data[formLabel.column[17].id]" ng-required="formLabel.column[17].mandatory" ng-minlength="{{formLabel.column[17].minLength}}" ng-maxlength="{{formLabel.column[17].maxLength}}" ng-readonly="formLabel.column[17].readonly == '1'" min="{{formLabel.column[17].minVal}}" max="{{formLabel.column[17].maxVal}}" only-digits numeric></div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>

                </div>
            </div>

        </tab>
    </tabset>
                
    <div class="button-container">
        <button type="submit" class="btn btn-primary" ng-disabled="form.gridEditor.$invalid" ng-if="!form.data[formLabel.column[0].id] && gridData.permission.new == 1">Save</button>
        <button type="submit" class="btn btn-primary" ng-disabled="form.gridEditor.$invalid" ng-if="form.data[formLabel.column[0].id] && gridData.permission.edit == 1">Update</button>
        <button type="button" class="btn btn-warning" ng-if="form.data[formLabel.column[0].id] && gridData.permission.delete == 1" ng-really-click="delete(form.data[formLabel.column[0].id])">Delete</button>

        <button type="reset" class="btn btn-danger pull-right" id="reset-button" ng-if="form.data[formLabel.column[0].id]" ng-click="reset()">Cancel</button>                
        <button type="reset" class="btn btn-danger pull-right" id="reset-button" ng-if="!form.data[formLabel.column[0].id]" ng-click="reset()">Clear</button>
    </div>

    <div class="clearfix"></div>
</form>