<form name="form.gridEditor" ng-submit="submit(form.data[formLabel.column[0].id])" novalidate>
    <tabset>
        <tab active="tab.active" disabled="tab.disabled">
<!--
            <tab-heading>
                {{formLabel.title}}
            </tab-heading>
-->

            <div class="panel clean">
                <div class="well">
                    <input type="hidden" name="{{formLabel.column[0].id}}" ng-model="form.data[formLabel.column[0].id]">
                          
                    <div class="form-group" ng-class="{'has-error': form.gridEditor.formData1.$invalid && form.gridEditor.formData1.$dirty}">
                        <div class="label-content"><label for="input{{formLabel.column[1].id}}">{{formLabel.column[1].name}} <sup class="required" ng-if="formLabel.column[1].mandatory">*</sup></label></div>
                        <div class="input-content"><input type="text" name="formData1" id="input{{formLabel.column[1].id}}" class="form-control" placeholder="{{formLabel.column[1].name}}" ng-model="form.data[formLabel.column[1].id]" ng-required="formLabel.column[1].mandatory" ng-minlength="{{formLabel.column[1].minLength}}" ng-maxlength="{{formLabel.column[1].maxLength}}" ng-readonly="formLabel.column[1].readonly == '1'"></div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': form.gridEditor.formData2.$invalid && form.gridEditor.formData2.$dirty}">
                        <div class="label-content"><label for="input{{formLabel.column[2].id}}">{{formLabel.column[2].name}} <sup class="required" ng-if="formLabel.column[2].mandatory">*</sup></label></div>
                        <div class="input-content"><input type="text" name="formData2" id="input{{formLabel.column[2].id}}" class="form-control" placeholder="{{formLabel.column[2].name}}" ng-model="form.data[formLabel.column[2].id]" ng-required="formLabel.column[2].mandatory" ng-minlength="{{formLabel.column[2].minLength}}" ng-maxlength="{{formLabel.column[2].maxLength}}" ng-readonly="formLabel.column[2].readonly == '1'"></div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': form.gridEditor.formData3.$invalid && form.gridEditor.formData3.$dirty}">
                        <div class="label-content"><label for="input{{formLabel.column[3].id}}">{{formLabel.column[3].name}} <sup class="required" ng-if="formLabel.column[3].mandatory">*</sup></label></div>
                        <div class="input-content">
                            <div class="btn-group block">
                                <label class="btn btn-default" name="formData3" ng-model="form.data.mbraNonActiveFlag" btn-radio="'0'" ng-required="formLabel.column[3].mandatory" ng-readonly="formLabel.column[3].readonly == '1'"><i class="glyphicon glyphicon-ok"></i></label>
                                <label class="btn btn-default btn-no" name="formData3" ng-model="form.data.mbraNonActiveFlag" btn-radio="'1'" ng-required="formLabel.column[3].mandatory" ng-readonly="formLabel.column[3].readonly == '1'"><i class="glyphicon glyphicon-remove"></i></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                           
                    <div class="clearfix"></div>

                </div>
            </div>

        </tab>
    </tabset>
                
    <div class="button-container">
        <button type="submit" class="btn btn-primary" ng-disabled="form.gridEditor.$invalid" ng-if="!form.data[formLabel.column[0].id] && gridData.permission.new == 1">Save</button>
        <button type="submit" class="btn btn-primary" ng-disabled="form.gridEditor.$invalid" ng-if="form.data[formLabel.column[0].id] && gridData.permission.edit == 1">Update</button>
        <button type="button" class="btn btn-warning" ng-if="form.data[formLabel.column[0].id] && gridData.permission.delete == 1" ng-really-click="delete(form.data[formLabel.column[0].id])">Delete</button>

        <button type="reset" class="btn btn-danger pull-right" id="reset-button" ng-if="form.data[formLabel.column[0].id]" ng-click="reset()">Cancel</button>                
        <button type="reset" class="btn btn-danger pull-right" id="reset-button" ng-if="!form.data[formLabel.column[0].id]" ng-click="reset()">Clear</button>
    </div>

    <div class="clearfix"></div>
</form>