<form name="form.gridEditor" ng-submit="submit(form.data[formLabel.column[0].id])" novalidate ng-controller="transactionReturnPO">
    <tabset>
        <tab active="tab.active" disabled="tab.disabled">
<!--
            <tab-heading>
                {{formLabel.title}}
            </tab-heading>
-->

            <div class="panel">
                <div>
                    <input type="hidden" name="{{formLabel.column[0].id}}" ng-model="form.data[formLabel.column[0].id]">

                    <ng-form name="form.headerForm">
                        <div class="row rows">

                        <div class="medium-6">
                           
                            <div class="well">
                                <div class="form-group" ng-class="{'has-error': form.gridEditor.formData1.$invalid && form.gridEditor.formData1.$dirty, 'hidden': formLabel.column[1].show != '1'}">
                                    <div class="label-content"><label for="input{{formLabel.column[1].id}}">{{formLabel.column[1].name}} <sup class="required" ng-if="formLabel.column[1].mandatory == '1'">*</sup></label></div>
                                    <div class="input-content"><input type="text" name="formData1" id="input{{formLabel.column[1].id}}" class="form-control date" placeholder="{{formLabel.column[1].name}}" ng-model="form.data[formLabel.column[1].id]" ng-required="formLabel.column[1].mandatory == '1'" ng-disabled="formLabel.column[1].readonly == '1' || form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2'" datepicker-popup="dd/MM/yyyy" is-open="dateStartOpen" ng-focus="dateStartOpen = true" ng-click="dateStartOpen = true" show-button-bar="false" ng-readonly="dateStartOpen == true || form.data[formLabel.column[1].id]" ng-keydown="dateKeyDown($event)"></div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': form.headerForm.formData2.$invalid && form.headerForm.formData2.$dirty, 'hidden': formLabel.column[2].show != '1'}">
                                    <div class="label-content"><label for="input{{formLabel.column[2].id}}">{{formLabel.column[2].name}} <sup class="required" ng-if="formLabel.column[2].mandatory == '1'">*</sup></label></div>
                                    <div class="input-content"><input type="text" name="formData2" id="input{{formLabel.column[2].id}}" class="form-control" placeholder="{{formLabel.column[2].name}}" ng-model="form.data[formLabel.column[2].id]" ng-required="formLabel.column[2].mandatory == '1'" ng-minlength="{{formLabel.column[2].minLength}}" ng-maxlength="{{formLabel.column[2].maxLength}}" ng-readonly="formLabel.column[2].readonly == '1'" ng-disabled="form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2'"></div>
                                </div>
                                
                                <div class="form-group" ng-class="{'has-error': form.headerForm.formData3.$invalid && form.headerForm.formData3.$dirty, 'hidden': formLabel.column[3].show != '1'}">
                                    <div class="label-content"><label for="input{{formLabel.column[3].id}}">{{formLabel.column[3].name}} <sup class="required" ng-if="formLabel.column[3].mandatory == '1'">*</sup></label></div>
                                    <div class="input-content">
                                        <div class="input-group">
                                            <input type="text" name="formData3" id="input{{formLabel.column[3].id}}" class="form-control" placeholder="{{formLabel.column[3].name}}" ng-model="form.data[formLabel.column[3].id]" ng-required="formLabel.column[3].mandatory == '1'" ng-minlength="{{formLabel.column[3].minLength}}" ng-maxlength="{{formLabel.column[3].maxLength}}" ng-readonly="formLabel.column[3].readonly == '1'" ng-disabled="form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2'" typeahead="n.purhId as n.purhRefNo for n in data5 | filter:$viewValue:stateComparator | limitTo: 10 | orderBy: n.purhRefNo" typeahead-editable="false" typeahead-input-formatter="formatLabel5($model)" typeahead-on-select="onSelect5($item, $model, $label)" autocomplete="off" empty-typeahead ng-focus="onFocus($event)" ng-blur="onBlur()">
                                            <div class="input-group-addon finder" ng-controller="modalCtrl"><span ng-click="open(data5, 'typeahead_return_po_po', 'ModalDefaultCtrl')" ng-hide="formLabel.column[3].readonly == '1' || form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2' || form.data.repohStatus == '3' || form.data.repohStatus == '4'"><i class="glyphicon glyphicon-search"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clearfix"></div>
                                
                            </div>
                            
                        </div>

                        <div class="medium-6">
                            
                            <div class="well">
                                <div class="form-group" ng-class="{'has-error': form.headerForm.formData4.$invalid && form.headerForm.formData4.$dirty, 'hidden': formLabel.column[4].show != '1'}">
                                    <div class="label-content"><label for="input{{formLabel.column[4].id}}">{{formLabel.column[4].name}} <sup class="required" ng-if="formLabel.column[4].mandatory == '1'">*</sup></label></div>
                                    <div class="input-content">
                                        <div class="input-group">
                                            <input type="text" name="formData4" id="input{{formLabel.column[4].id}}" class="form-control" placeholder="{{formLabel.column[4].name}}" ng-model="form.data[formLabel.column[4].id]" ng-required="formLabel.column[4].mandatory == '1'" ng-minlength="{{formLabel.column[4].minLength}}" ng-maxlength="{{formLabel.column[4].maxLength}}" ng-readonly="formLabel.column[4].readonly == '1'" ng-disabled="form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2' || form.data[formLabel.column[3].id]" typeahead="n.isspId as n.supplierDesc for n in data | filter:$viewValue:stateComparator | limitTo: 10 | orderBy: n.supplierDesc" typeahead-editable="false" typeahead-input-formatter="formatLabel($model)" typeahead-on-select="onSelect($item, $model, $label)" autocomplete="off" empty-typeahead ng-focus="onFocus($event)" ng-blur="onBlur()">
                                            <div class="input-group-addon finder" ng-controller="modalCtrl"><span ng-click="open(data, 'typeahead_return_po_supplier', 'ModalDefaultCtrl')" ng-hide="formLabel.column[4].readonly == '1' || form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2' || form.data.repohStatus == '4' || form.data.repohStatus == '4' || form.data[formLabel.column[3].id]"><i class="glyphicon glyphicon-search"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group" ng-class="{'has-error': form.headerForm.formData5.$invalid && form.headerForm.formData5.$dirty, 'hidden': formLabel.column[5].show != '1'}">
                                    <div class="label-content"><label for="input{{formLabel.column[5].id}}">{{formLabel.column[5].name}} <sup class="required" ng-if="formLabel.column[5].mandatory == '1'">*</sup></label></div>
                                    <div class="input-content"><textarea name="formData5" id="input{{formLabel.column[5].id}}" class="form-control" placeholder="{{formLabel.column[5].name}}" ng-model="form.data[formLabel.column[5].id]" ng-required="formLabel.column[5].mandatory == '1'" ng-minlength="{{formLabel.column[5].minLength}}" ng-maxlength="{{formLabel.column[5].maxLength}}" ng-disabled="formLabel.column[5].readonly == '1' || form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2' || form.data[formLabel.column[3].id]"></textarea></div>
                                </div>
                                
                                <div class="form-group" ng-class="{'has-error': form.headerForm.formData6.$invalid && form.headerForm.formData6.$dirty, 'hidden': formLabel.column[6].show != '1'}">
                                    <div class="label-content"><label for="input{{formLabel.column[6].id}}">{{formLabel.column[6].name}} <sup class="required" ng-if="formLabel.column[6].mandatory == '1'">*</sup></label></div>
                                    <div class="input-content"><input type="text" name="formData6" id="input{{formLabel.column[6].id}}" class="form-control" placeholder="{{formLabel.column[6].name}}" ng-model="form.data[formLabel.column[6].id]" ng-required="formLabel.column[6].mandatory == '1'" ng-minlength="{{formLabel.column[6].minLength}}" ng-maxlength="{{formLabel.column[6].maxLength}}" ng-readonly="formLabel.column[6].readonly == '1'" ng-disabled="form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2' || form.data[formLabel.column[3].id]"></div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': form.headerForm.formData7.$invalid && form.headerForm.formData7.$dirty, 'hidden': formLabel.column[7].show != '1'}">
                                    <div class="label-content"><label for="input{{formLabel.column[7].id}}">{{formLabel.column[7].name}} <sup class="required" ng-if="formLabel.column[7].mandatory == '1'">*</sup></label></div>
                                    <div class="input-content"><input type="text" name="formData7" id="input{{formLabel.column[7].id}}" class="form-control" placeholder="{{formLabel.column[7].name}}" ng-model="form.data[formLabel.column[7].id]" ng-required="formLabel.column[7].mandatory == '1'" ng-minlength="{{formLabel.column[7].minLength}}" ng-maxlength="{{formLabel.column[7].maxLength}}" ng-readonly="formLabel.column[7].readonly == '1'" ng-disabled="form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2' || form.data[formLabel.column[3].id]"></div>
                                </div>
                                
                                <div class="clearfix"></div>
                        
                            </div>
                            
                        </div>
                        
                        </div>

                    </ng-form>

                    <ng-form name="form.itemForm" ng-hide="form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2'">
                        <div class="row row-well">
                            <div class="col-xs-12">
                            <div class="well" ng-init="form.detail = {}">
                            <input type="hidden" name="{{formLabel.column.detail[0].id}}" ng-model="form.detail[formLabel.column.detail[0].id]">

                            <div class="pull-left"> 
                                <div class="form-group" ng-class="{'has-error': form.itemForm.formDetail1.$invalid && form.itemForm.formDetail1.$dirty, 'hidden': formLabel.column.detail[1].show != '1'}">
                                    <div class="input-group" style="width: 157px">
                                        <input type="text" name="formDetail1" id="input{{formLabel.column.detail[1].id}}" class="form-control" placeholder="{{formLabel.column.detail[1].name}}" ng-model="form.detail[formLabel.column.detail[1].id]" ng-required="formLabel.column.detail[1].mandatory == '1' && formItem" ng-minlength="{{formLabel.column.detail[1].minLength}}" ng-maxlength="{{formLabel.column.detail[1].maxLength}}" ng-readonly="form.headerForm.$invalid || formLabel.column.detail[1].readonly == '1'" typeahead="n.mitmId as n.mitmCode for n in data2 | filter:$viewValue:stateComparator | limitTo: 10 | orderBy: n.mitmCode" typeahead-editable="false" typeahead-input-formatter="formatLabel2($model)" typeahead-on-select="onSelect2($item, $model, $label)" autocomplete="off" empty-typeahead ng-focus="formItem = true; onFocus($event)" ng-blur="onBlur()">
                                        <div class="input-group-addon finder" ng-controller="modalCtrl"><span ng-click="open(data2, 'typeahead_return_item', 'ModalDefaultCtrl')" ng-hide="form.headerForm.$invalid || formLabel.column.detail[1].readonly == '1'"><i class="glyphicon glyphicon-search"></i></span></div>
                                    </div>
                                </div>
                            </div> 

                            <div class="pull-left"> 
                                <div class="form-group" ng-class="{'has-error': form.itemForm.formDetail2.$invalid && form.itemForm.formDetail2.$dirty, 'hidden': formLabel.column.detail[2].show != '1'}">
                                    <div class="input-group" style="width: 222px">
                                        <input type="text" name="formDetail2" id="input{{formLabel.column.detail[2].id}}" class="form-control" placeholder="{{formLabel.column.detail[2].name}}" ng-model="form.detail[formLabel.column.detail[2].id]" ng-required="formLabel.column.detail[2].mandatory == '1' && formItem" ng-minlength="{{formLabel.column.detail[2].minLength}}" ng-maxlength="{{formLabel.column.detail[2].maxLength}}" ng-readonly="form.headerForm.$invalid || formLabel.column.detail[2].readonly == '1'" typeahead="n.mitmId as n.mitmDescription for n in data3 | filter:$viewValue:stateComparator | orderBy: n.mitmDescription" typeahead-editable="false" typeahead-input-formatter="formatLabel3($model)" typeahead-on-select="onSelect3($item, $model, $label)" autocomplete="off" empty-typeahead ng-focus="formItem = true; onFocus($event)" ng-blur="onBlur()">
                                        <div class="input-group-addon finder" ng-controller="modalCtrl"><span ng-click="open(data3, 'typeahead_return_item', 'ModalDefaultCtrl')" ng-hide="form.headerForm.$invalid || formLabel.column.detail[2].readonly == '1'"><i class="glyphicon glyphicon-search"></i></span></div>
                                    </div>
                                </div>
                            </div> 

                            <div class="pull-left"> 
                                <div class="form-group" ng-class="{'has-error': form.itemForm.formDetail3.$invalid && form.itemForm.formDetail3.$dirty, 'hidden': formLabel.column.detail[3].show != '1'}">
                                    <input type="number" name="formDetail3" id="input{{formLabel.column.detail[3].id}}" class="form-control" placeholder="{{formLabel.column.detail[3].name}}" ng-model="form.detail[formLabel.column.detail[3].id]" ng-required="formLabel.column.detail[3].mandatory == '1' && formItem" ng-minlength="{{formLabel.column.detail[3].minLength}}" ng-maxlength="{{formLabel.column.detail[3].maxLength}}" ng-readonly="form.headerForm.$invalid || formLabel.column.detail[3].readonly == '1'" min="{{formLabel.column.detail[3].minVal}}" max="{{formLabel.column.detail[3].maxVal}}" ng-focus="formItem = true" style="width: 75px">
                                </div>
                            </div>  

                            <div class="pull-left"> 
                                <div class="form-group" ng-class="{'has-error': form.itemForm.formDetail4.$invalid && form.itemForm.formDetail4.$dirty, 'hidden': formLabel.column.detail[4].show != '1'}">
                                    <div class="input-group" style="width: 101px">
                                        <input type="text" name="formDetail4" id="input{{formLabel.column.detail[4].id}}" class="form-control" placeholder="{{formLabel.column.detail[4].name}}" ng-model="form.detail[formLabel.column.detail[4].id]" ng-required="formLabel.column.detail[4].mandatory == '1' && formItem" ng-minlength="{{formLabel.column.detail[4].minLength}}" ng-maxlength="{{formLabel.column.detail[4].maxLength}}" ng-readonly="form.headerForm.$invalid || formLabel.column.detail[4].readonly == '1'" typeahead="n.munitId as n.munitName for n in data4 | filter:$viewValue:stateComparator | orderBy: n.munitName" typeahead-editable="false" typeahead-input-formatter="formatLabel4($model)" autocomplete="off" empty-typeahead ng-focus="formItem = true; onFocus($event)" ng-blur="onBlur()">
                                        <div class="input-group-addon finder" ng-controller="modalCtrl"><span ng-click="open(data4, 'typeahead_return_unit', 'ModalDefaultCtrl')" ng-hide="form.headerForm.$invalid || formLabel.column.detail[4].readonly == '1'"><i class="glyphicon glyphicon-search"></i></span></div>
                                    </div>
                                </div>
                            </div> 

                            <div class="pull-left">
                                <div class="form-group" ng-class="{'has-error': form.itemForm.formDetail5.$invalid && form.itemForm.formDetail5.$dirty, 'hidden': formLabel.column.detail[5].show != '1'}">
                                    <input type="text" name="formDetail5" id="input{{formLabel.column.detail[5].id}}" class="form-control" placeholder="{{formLabel.column.detail[5].name}}" ng-model="form.detail[formLabel.column.detail[5].id]" ng-required="formLabel.column.detail[5].mandatory == '1' && formItem" ng-minlength="{{formLabel.column.detail[5].minLength}}" ng-maxlength="{{formLabel.column.detail[5].maxLength}}" ng-readonly="form.headerForm.$invalid || formLabel.column.detail[5].readonly == '1'" ng-focus="formItem = true" style="width: 161px">
                                </div>
                            </div> 

                            <div class="pull-left"> 
                                <div class="form-group" ng-click="form.detail[formLabel.column[0].id] = form.data[formLabel.column[0].id];formItem = false">
                                    <div ng-if="!form.detail[formLabel.column.detail[0].id]" style="display: inline-block; *display: inline; zoom: 1;">
                                        <button type="button" ng-hide="form.gridEditor.$invalid || form.itemForm.$pristine || form.itemForm.$invalid" class="btn btn-default btn-block" ng-if="form.data.detail" ng-click="onnew();">
                                            Add
                                        </button>

                                        <button type="button" ng-hide="form.gridEditor.$invalid || form.itemForm.$pristine || form.itemForm.$invalid" class="btn btn-default btn-block" ng-if="!form.data.detail" ng-init="form.data.detail = {}" ng-click="onnew();">
                                            Add
                                        </button>
                                    </div>

                                    <div ng-if="form.detail[formLabel.column.detail[0].id]" style="display: inline-block; *display: inline; zoom: 1;">

                                        <button type="button" ng-hide="form.gridEditor.$invalid || form.itemForm.$pristine || form.itemForm.$invalid" class="btn btn-default btn-block" ng-if="form.data.detail" ng-click="onupd('{{form.data[formLabel.column[0].id]}}');">
                                            Update
                                        </button>

                                    </div>
                                    
                                    <button type="button" class="btn btn-danger clear-form" ng-click="onclear(); onBlur(); formItem = false" ng-readonly="form.gridEditor.$invalid">
                                        &times;
                                    </button>
                                </div>
                            </div>
                               
                            <div class="clearfix"></div>
                                
                            </div>
                            </div>
                        </div>
                    </ng-form>
                   
                    <div class="datatable">

                        <div class="table table-striped table-border table-hover pull-left">
                            <div class="tr">
                                <div class="th" ng-repeat="column in formLabel.column.detail" ng-show="column.show">
                                    <div class="resizes{{$index}}" style="width:{{column.width}}px">

                                        <div class="labelwrapper">

                                            {{column.name}}
                                        </div>

                                        <div class="resize" style="z-index: 90;" resizer="vertical" resizer-x="resizes{{$index}}"></div>
                                    </div>
                                </div>
                            </div>

                            <span >
                                <span class="block" ng-repeat="row in form.data.detail track by $index">
                                    <div class="tr" ng-class="{deleting:row.deleting, selected:row.selected}" ng-class-odd="'odd'" ng-class-even="'even'" class="status-{{row.status}} rowWrapper" ng-dblclick="copy(row)">
                                        <div class="td" ng-show="formLabel.column.detail[0].show">
                                            <div style="width:{{formLabel.column.detail[0].width}}px">
                                                <div ng-if="row[formLabel.column.detail[0].id] != ''" class="twrapper">

                                                    <span class="tWrap text-center block">
                                                        {{$index + 1}}
                                                    </span>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="td" ng-show="formLabel.column.detail[1].show">
                                            <div style="width:{{formLabel.column.detail[1].width}}px">
                                                <div ng-if="row[formLabel.column.detail[1].id] != ''" class="twrapper">

                                                    <input type="text" class="no-input" ng-model="row[formLabel.column.detail[1].id]" typeahead="n.mitmId as n.mitmCode for n in data2 | filter:$viewValue:stateComparator | orderBy: n.mitmCode" typeahead-editable="false" typeahead-input-formatter="formatLabel2($model)" typeahead-on-select="onSelect2($item, $model, $label)" autocomplete="off" ng-readonly="true">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="td" ng-show="formLabel.column.detail[2].show">
                                            <div style="width:{{formLabel.column.detail[2].width}}px">
                                                <div ng-if="row[formLabel.column.detail[2].id] != ''" class="twrapper">

                                                    <input type="text" class="no-input" ng-model="row[formLabel.column.detail[2].id]" typeahead="n.mitmId as n.mitmDescription for n in data3 | filter:$viewValue:stateComparator | orderBy: n.mitmDescription" typeahead-editable="false" typeahead-input-formatter="formatLabel3($model)" typeahead-on-select="onSelect3($item, $model, $label)" autocomplete="off" ng-readonly="true">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="td" ng-show="formLabel.column.detail[3].show">
                                            <div style="width:{{formLabel.column.detail[3].width}}px">
                                                <div ng-if="row[formLabel.column.detail[3].id] != ''" class="twrapper">

                                                    <span class="tWrap text-right block">
                                                        {{row[formLabel.column.detail[3].id] | currency:"":2}}
                                                    </span>

                                                </div>
                                                <div ng-if="row[formLabel.column.detail[3].id] == ''" class="twrapper">
                                                    <span class="tWrap text-right block">
                                                        0
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="td" ng-show="formLabel.column.detail[4].show">
                                            <div style="width:{{formLabel.column.detail[4].width}}px">
                                                <div ng-if="row[formLabel.column.detail[4].id] != ''" class="twrapper">
                                                    
                                                    <input type="text" class="no-input" ng-model="row[formLabel.column.detail[4].id]" typeahead="n.munitId as n.munitName for n in data4 | filter:$viewValue:stateComparator | orderBy: n.munitName" typeahead-editable="false" typeahead-input-formatter="formatLabel4($model)" autocomplete="off" ng-readonly="true">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="td" ng-show="formLabel.column.detail[5].show">
                                            <div style="width:{{formLabel.column.detail[5].width}}px">
                                                <div ng-if="row[formLabel.column.detail[5].id] != ''" class="twrapper">

                                                    <span class="tWrap block">
                                                        {{row[formLabel.column.detail[5].id]}}
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="td" ng-hide="form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2'">
                                            <div>
                                                <div class="twrapper">

                                                    <span ng-really-click="ondel('{{row.repodId}}', '{{row[formLabel.column.detail[0].id]}}')">Delete</span>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </span>
                            </span>
                        </div>
                    </div> 
                    
                    <div class="row">
                        <div ng-class="{'col-sm-5 col-sm-offset-7': collaps, 'col-sm-6 col-sm-offset-6': !collaps}">
                            <div class="form-groups" ng-class="{'has-error': form.headerForm.formData8.$invalid && form.headerForm.formData8.$dirty, 'hidden': formLabel.column[8].show != '1'}">
                                <label for="input{{formLabel.column[8].id}}">{{formLabel.column[8].name}} <sup class="required" ng-if="formLabel.column[8].mandatory == '1'">*</sup></label>
                                <span class="pull-right">{{form.data[formLabel.column[8].id] | currency:"":2}}</span>
                            </div>
                        </div>
                    </div>
                    
                    <hr style="margin: 5px 0;">

                    <div class="form-group" ng-class="{'has-error': form.headerForm.formData9.$invalid && form.headerForm.formData9.$dirty, 'hidden': formLabel.column[9].show != '1'}">
                        <label for="input{{formLabel.column[9].id}}">{{formLabel.column[9].name}} <sup class="required" ng-if="formLabel.column[9].mandatory == '1'">*</sup></label>
                        <textarea name="formData9" id="input{{formLabel.column[9].id}}" class="form-control" placeholder="{{formLabel.column[9].name}}" ng-model="form.data[formLabel.column[9].id]" ng-required="formLabel.column[9].mandatory == '1'" ng-minlength="{{formLabel.column[9].minLength}}" ng-maxlength="{{formLabel.column[9].maxLength}}" ng-readonly="formLabel.column[9].readonly == '1'" ng-disabled="form.data.repohVoid == '1'"></textarea>
                    </div>

                </div>
            </div>

        </tab>
    </tabset>
                
    <div class="button-container">
        <button type="submit" class="btn btn-primary" ng-disabled="form.gridEditor.$invalid || form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2'" ng-if="!form.data[formLabel.column[0].id] && gridData.permission.new == 1">Save</button>
        <button type="submit" class="btn btn-primary" ng-disabled="form.gridEditor.$invalid || form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2'" ng-if="form.data[formLabel.column[0].id] && gridData.permission.edit == 1">Save</button>
        <button type="button" class="btn btn-success" ng-disabled="form.gridEditor.$invalid || form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2'" ng-if="form.data[formLabel.column[0].id] && gridData.permission.confirm == 1" ng-controller="modalCtrl" ng-click="open('', 'return_po_confirm', 'ModalConfirmCtrl')">Confirm</button>
        <button type="button" class="btn btn-default" ng-disabled="form.gridEditor.$invalid || form.data.repohVoid == '1' || form.data.repohStatus == '1' || form.data.repohStatus == '2'" ng-if="form.data[formLabel.column[0].id] && gridData.permission.void == 1" ng-controller="modalCtrl" ng-click="open('', 'return_po_void', 'ModalVoidCtrl')">Void</button>

        <button type="reset" class="btn btn-danger pull-right" id="reset-button" ng-if="form.data[formLabel.column[0].id]" ng-click="reset()">Cancel</button>                
        <button type="reset" class="btn btn-danger pull-right" id="reset-button" ng-if="!form.data[formLabel.column[0].id]" ng-click="reset()">Clear</button>
    </div>

    <div class="clearfix"></div>
</form>