<div>
    <div class="modal-header">
        <h4 class="modal-title">{{formLabel.title}}</h4>
    </div>
    <div class="modal-body">
        <form name="passwordform" id="password" ng-submit="submit()" novalidate ng-init="form.data = {}">
            
            <div class="form-group" ng-class="{'has-error': form.gridEditor.formData0.$invalid && form.gridEditor.formData0.$dirty}">
                <label for="input{{formLabel.column[0].id}}">{{formLabel.column[0].name}} <sup class="required" ng-if="formLabel.column[0].mandatory">*</sup></label>
                <input type="password" name="formData0" id="input{{formLabel.column[0].id}}" class="form-control" placeholder="{{formLabel.column[0].name}}" ng-model="form.data[formLabel.column[0].id]" ng-required="formLabel.column[0].mandatory" ng-minlength="{{formLabel.column[0].minLength}}" ng-maxlength="{{formLabel.column[0].maxLength}}" ng-readonly="formLabel.column[0].readonly == '1'">
            </div>
            
            <div class="form-group" ng-class="{'has-error': form.gridEditor.formData1.$invalid && form.gridEditor.formData1.$dirty}">
                <label for="input{{formLabel.column[1].id}}">{{formLabel.column[1].name}} <sup class="required" ng-if="formLabel.column[1].mandatory">*</sup></label>
                <input type="password" name="formData1" id="input{{formLabel.column[1].id}}" class="form-control" placeholder="{{formLabel.column[1].name}}" ng-model="form.data[formLabel.column[1].id]" ng-required="formLabel.column[1].mandatory" ng-minlength="{{formLabel.column[1].minLength}}" ng-maxlength="{{formLabel.column[1].maxLength}}" ng-readonly="formLabel.column[1].readonly == '1'">
            </div>
            
            <div class="form-group" ng-class="{'has-error': form.gridEditor.formData2.$invalid && form.gridEditor.formData2.$dirty}">
                <label for="input{{formLabel.column[2].id}}">{{formLabel.column[2].name}} <sup class="required" ng-if="formLabel.column[2].mandatory">*</sup></label>
                <input type="password" name="formData2" id="input{{formLabel.column[2].id}}" class="form-control" placeholder="{{formLabel.column[2].name}}" ng-model="form.data[formLabel.column[2].id]" ng-required="formLabel.column[2].mandatory" ng-minlength="{{formLabel.column[2].minLength}}" ng-maxlength="{{formLabel.column[2].maxLength}}" ng-readonly="formLabel.column[2].readonly == '1'">
            </div>
            <div class="button-container">
                <button class="btn btn-success" type="submit" ng-disabled="passwordform.$invalid">Submit</button>
                <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
            </div>

        </form>
    </div>
            
        <div class="alert alert-danger" role="alert" ng-if="errorPassword">{{errorPassword}}</div>
</div>